 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

body{
    background: #7D6B91;
    color: blanchedalmond;
    text-align: center;
    font-family: 'Poppins' , sans-serif;
    }
    a {
      text-decoration: none;
      color: white;
    }

    .profile-img {
        width: 25%;
        border-radius: 20%;
    }

     .btn{
        display: block;
        color: black;
        padding: 20px;
        background-color: white;
        margin: 16px;
        box-shadow: 10px 10px lightblue;
    }
    